input {
  height: 10px;
  background: #e0dede;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
}

label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 20px;
  font-weight: bold;
}

.error {
  border: 2px solid;
  border-color: red;
}

.error-text {
  color: red;
  align-self: flex-start;
  font-size: 0.7rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 20px auto;
}

.input-label {
  align-self: flex-start;
  font-size: 1rem;
  margin: 0;
}

.input-label.required:after {
  content: '*';
  font-size: 0.8rem;
  color: red;
}

.with-icon-wrapper {
  position: relative;
}

.with-icon {
  padding-left: 2rem;
  width: 175px;
}

.icon {
  height: 1rem;
  width: 1rem;
  position: absolute;
  color: #6c757d;
  top: 30%;
  left: 4%;
}

.input-description {
  font-size: 12px;
  align-self: flex-start;
  margin: 0;
  padding: 0;
  color: #fff;
}
